<h2>Upload File</h2>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="file" name="file">
  <button type="submit">Upload</button>
</form>

<h3>Your Files</h3>
<ul>
{% for file in files %}
  <li>
    {{ file.file.name }}

    {% if ".jpg" in file.file.url or ".png" in file.file.url %}
        <img src="{{ file.file.url }}" width="200">

    {% elif ".pdf" in file.file.url %}
        <iframe src="{{ file.file.url }}" width="400" height="300"></iframe>

    {% else %}
        <a href="{{ file.file.url }}" target="_blank">Open File</a>
    {% endif %}

    <a href="/delete/{{ file.id }}/">Delete</a>
  </li>
{% endfor %}
</ul>

<a href="/logout/">Logout</a>